* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    min-height: 100vh;  
    color:white;
    border: 10px solid gray;
}
.content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.head {
    margin-top: 20px;
}
.top_section {
    margin-top: 100px;
}
.top_section h1 {
    font-size: 40px;
    font-weight: bold;
}
.image_container,
img {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 140px;
    width: 390px;
    height: 350px;
    justify-content: center;
    padding-left: 50px;
}
.about_section  {
    font-size: 20px;
}
.awards {
    font-size:20px ;  
}
.awards li {
    text-align:left;
}
.awards ul {
    padding-left: 160px;
}
.timeline {
    font-size: 20px;
}
.timeline  li{
    text-align: left 
}
.timeline ul {
    padding-left: 160px; 
}
.quote {
    font-size: 25px;
}